.settings {

	.phone {
		display: block;
		position: absolute;
		background: url("../images/phone.png") no-repeat;
		width: 307px;
		height: 556px;
		bottom: 0;
		left: 150px;
	}
	.phonewrapper {
		position: relative;
		top: 33px;
		left: 15px;
		width: 275px;
		height: 490px;
		display: block;

		img {
			margin-top: 30px;
			margin-left: 13px;
			border-radius: $radius;
		}
		.overlay {
			display:inline-block;
	    	position: relative;
		}
		.overlay:after {
			content:'';
		    top: 0;
		    left: 0;
		    z-index: 10;
		    width: 250px;
		    height: 150px;
		    display: block;
		    position: absolute;
		    background: #000;
		    opacity: 0.5;
		    margin-top: 30px;
			margin-left: 13px;
			border-radius: $radius;
		}
		.overlay .userinfo {
			width: 100%;
			z-index: 20;
			position: absolute;
			text-align: center;
			margin-left: 13px;
			margin-top: 60px;
			color: #fff;
			text-shadow: none;
		}
		.overlay .userinfo p {
			margin-top: -20px;
		}
		.aboutuser {
			background: #fff;
			padding: 5px 10px;
			margin: 12px;
			border-radius: $radius;
		}
		.qrcode img {
			margin-left: 37px;
			margin-top: 10px;
			border-radius: $radius;
		}
	}
}