/* color */
$orange: 	#ff6600;
$white: 	#ffffff;
$black: 	#333333;
/* fonts */
$nunito: 	'Nunito', sans-serif;
$opensans: 	'Open Sans', sans-serif;
/* size */
$size1: 	34px;
$size2: 	28px;
$size3: 	24px;
$size4: 	18px;
$size5: 	14px;
/* radius */
$radius: 	10px;